section {
/*	padding: 30px;*/
	
}
.pp {
	padding: 30px;
}
#navCV {
	text-align: center;
}
.lineRed {
	width: 150px;
	height: 1px;
	background: #E41A1D;
	margin: auto;
}
.red {
	background: #E41A1D;
}
.heading h2 {
	color: #E41A1D;
	text-align: center;
}